<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:aop="http://www.springframework.org/schema/aop"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop
        https://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd
">

<!--	<bean id="myBean" class="com.myspring.demo.MyBean" lazy-init="true">-->
<!--	</bean>-->

<!--	<bean id="myBeanPostProcessor" class="com.myspring.demo.MyBeanPostProcessor"/>-->
<!--	<bean id="myBeanFactoryPostProcessor" class="com.myspring.demo.MyBeanFactoryPostProcessor"/>-->

	<!-- 循环依赖测试 -->
	<bean id="myBeanLoop1" class="com.myspring.demo.MyBeanLoop1">
		<property name="MyBeanLoop2" ref="myBeanLoop2"/>
	</bean>

	<bean id="myBeanLoop2" class="com.myspring.demo.MyBeanLoop2">
		<property name="MyBeanLoop1" ref="myBeanLoop1"/>
	</bean>

	<!-- 添加注解扫描路径 -->
	<context:component-scan base-package="com.myspring.demo"/>

	<bean id="logUtils" class="com.myspring.demo.LogUtils"/>
	<aop:config>
		<aop:aspect ref="logUtils">
			<aop:before method="before" pointcut="execution(public void com.myspring.demo.AopTestBean.test())" />
		</aop:aspect>
	</aop:config>


</beans>